@import "tailwindcss";

:root {
  --background: #ffffff;
  --black: #3B505A;
  --mid-teal: #028d96;
  --light-teal: #1ec8c8;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



