@import "tailwindcss";

:root {
  --background: #ffffff;
  --black: #3B505A;
  --mid-teal: #00695C;
  --light-teal: #ccfbf1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



